@CHARSET "UTF-8";
/******************************************************************************************/
/*   styleGraffiti.css内の解説
/*
/* -INDEX-
/*  1.id指定の定義
/*  2.class指定の定義
/*  3.タグ指定の定義
/* -NOTE-
/*  1.INDEXの順番が反映するスタイルの優先順位になっています
/*
/******************************************************************************************/

/******************************************************************************************/
/*  1.id指定の定義     #example { color: red; }
/******************************************************************************************/

/******************************************************************************************/
/*  2.class指定の定義　.example { color: red; }
/******************************************************************************************/
.email { width: 400px; }
.error { color: #FF4444; }
/******************************************************************************************/
/*  3.タグ指定の定義    タグ名 { color: red; }
/******************************************************************************************/
body {
 background-image: url('/img/eri.jpg');
 background-repeat: no-repeat;
 background-position: 450px 0px;
}
dt { font-weight: bold; }
dd { padding: 0.5em; margin-left: 0em; }

